{
  "database": {
    "host": "postgres",
    "port": 5432,
    "database": "kaamelottapi",
    "user": "kaamelottapi",
    "password": "toto"
  },
	"server": {
		"behindProxy": false
	},
  "authentication": {
    "adminToken": "CHANGEME"
  }
}
