{
  "database": {
    "host": "postgres",
    "port": 5432,
    "database": "kaamelottapi",
    "user": "kaamelottapi",
    "password": "toto"
  },
	"server": {
		"behindProxy": false
	},
  "authentication": {
    "adminToken": "CHANGEME"
  },
  "mattermost": {
    "enable": false,
    "token": "REPLACE_OR_SET_TO_UNDEFINED"
  }
}
